@media screen and (orientation:landscape) {
  #about {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .pfp {
    height: 30%;
    width: 40%;
  }

  #twitter {
    padding-left: 20px;
    padding-top: 20px;
    width: 40%;
  }

  .info {
    padding-top: 10px;
    width: 50%;
  }

  #infoTitle {
    text-align: center;
  }

  .pfpImages {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
  }

  #creditsButton {
    display: none;
  }
}

@media screen and (orientation:portrait) {
  .pfpImages {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
  }

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .pfp {
    height: 30%;
    width: 30%;
  }

  #infoTitle {
    text-align: center;
  }

  #twitter {
    width: 90%;
  }

  #credits {
    display: none;
    width: 100%;
  }

  #links {
    padding-bottom: 20px;
  }
}

#backButton {
  display: none;
}

.aboutLink a {
  color: var(--font-color);
}
.dropbtn {
  color: white !important;
}
