@media screen and (orientation:landscape) {
     .pfp{
         padding-top:10px;
         padding-right: 10px;
         height:200px;
         width:200px;

    }

    .pfpImages{
      display: inline-block;
    }

     .info {
         padding-top: 20px;
         padding-left: 20px;
         position: absolute;
         right: 10%;
    }
     #twitter{
        padding-left: 20px;
         padding-top: 20px;
    }

    .aboutLink{
      padding-top: 20px;
    }

    .aboutLink a{
      color: var(--header-text-color);
    }

    #about{
    display: flex;
    }

}
 @media screen and (orientation:portrait) {
     .pfp{
         margin: 20px;
         height:170px;
         width: 110px;
    }

    #twitter{
      text-align: center;
      padding-top: 10px;
    }

    #credits{
      display: none;
    }

    .aboutLink{
      padding-left: 10px;
      padding-top: 10px;
    }

    #credits{
      padding-left: 10px;
      padding-top: 10px;
    }


}

#backButton{
  display: none;
}
