@media screen and (orientation:landscape){
     .pfp{

         padding-top:10px;
         padding-right: 10px;
         height: 30%;
         width:40%;

    }

    .pfpImages{
      display: inline-block;
    }

     .info {
         padding-top: 10px;
         padding-left: 20px;
         position: absolute;
         right: 0;
         width: 50%;
    }
     #twitter{
        padding-left: 20px;
         padding-top: 20px;
         width: 40%;
    }

    .aboutLink{
      padding-top: 20px;
    }

    #about{
    display: flex;
    }

    #creditsButton{
      display: none;
    }

}
 @media screen and (orientation:portrait) {
     .pfp{
         margin: 20px;
         height:170px;
         width: 110px;
    }

    #twitter{
      margin: 0 auto;
      padding-top: 10px;
      width: 90%;
    }

    #credits{
      display: none;
    }

    .aboutLink{
      margin-left: 5%;
      padding-top: 15px;
    }

    #credits{
      padding-left: 10px;
      padding-top: 10px;
    }

}

#backButton{
  display: none;
}


    .aboutLink a{
      color: var(--font-color);
    }
