@media only screen and (orientation: portrait) {
    .cal td {
      padding: 8px 6px;
    }
}

@media only screen and (orientation: landscape) {
    .cal td {
      padding: 8px 20px;
    }
}




/* td .cal {
padding: 8px 20px;}

@media screen and (max-width: 600px) {
  td .cal {
  padding: 8px 8px;
}
}

@media screen and (min-width: 601px) and  (max-width: 1024px){
  td .cal {
  padding: 300px 8px;}
}

@media screen and (min-width: 1025px) {
  td .cal {
  padding: 8px 8px;}
} */


.cal {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #9ABAD9;
	margin: 0 auto;
	margin-top: 20px;
}

.cal td {
	font-size: 14px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #000000;
	color: #444;
	background-color: #EBF5FF;
}

.cal th {
	font-size: 14px;
	font-weight: normal;
	padding: 8px 10px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #000000;
	color: #fff;
	background-color: #409cff;
}

.cal .cal-month {
	font-size: 20px;
	background-color: var(--select-color);
	text-align: center;
	vertical-align: top
}

.cal .cal-header {
	font-size: 24px;
	background-color: #dddddd;
	text-align: center;
	vertical-align: top;
  font-weight:bold;
}

.cal .cal-days {
	font-size: 24px;
	background-color: #ffffff;
	text-align: center;
	vertical-align: top
}

.cal .calendarOtherMonth {
  font-size: 24px;
	background-color: #eeeeee;
	text-align: center;
	vertical-align: top
}

.cal .calendarNoSchool{
  font-size: 24px;
	background-color: #bbbbbb;
	text-align: center;
	vertical-align: top
}

.cal .calendarCurrentDay{
  font-size: 24px;
	background-color: var(--highlight-color);
  color: var(--font-color);
	text-align: center;
	vertical-align: top
}
