 #currentTime{
     float: right;
}

 #currentDay, #currentTime{
     display: inline-block;
}

#timeHeader{
  display:block;
  padding-bottom: 2%;
  font-size: 4vw;
}

 #time{
   display:block;
   font-size: 5vw;
}

.CenteredMiddle{
    display: table-cell;
    height:77vh;
    text-align: center;
    width: 50vw;
    vertical-align: middle;
}

.CenteredSide{
  display: table-cell;
  height:77vh;
  text-align: center;
  width: 25vw;
  vertical-align: middle;
}

#currentWeek{
  padding: 10px;
}

#lunchText{
  padding-bottom:2%;
}

#lunchTime{
  border-style:solid;
  border-width:2px;
  display:inline-block;
  padding:1%;
}

.column {
  float: left;
  padding: 10px;
  height:100%;
  width:50%;
  display: inline-block;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  font-size: 100%;
}

.row {
  height:89%;
  width:100%;
  vertical-align:middle;
  text-align:center;
  display: inline-block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.screenContent{
  height:90%;
  width:100%;
}
