#currentDayText, #currentTimeText, #lunchText, #timeHeader, #timeSecondaryHeader{
     color: var(--header-text-color);
}
 #timeHeader{
     display:block;
}
 #time{
     display:block;
}
 @font-face {
     font-family: "Rubik-Clock";
     src: url("/fonts/Rubik-MonoClock.ttf") format("truetype");
}
 #timeText{
     font-family: 'Rubik-Clock' !important;
     font-kerning: none;
     font-weight: lighter;
}
 /* #currentWeek{
     padding: 10px;
} */
 canvas{
     position:absolute;
     display:block;
}
 #lunchTime{
     font-family: 'Rubik-Clock' !important;
     font-kerning: none;
     font-weight: lighter;
}
 #rotationContainer {
     display: none;
     height: 100%;
     margin: 0 auto;
}
 #rotationText {
     display: table-cell;
     vertical-align: middle;
}
 @media screen and (orientation:landscape) {
     .homeContent{
         display: flex;
         flex-wrap: nowrap;
         align-items: center;
         height: 81vh;
    }
     .homeContent > .mainElement{
         width: 100%;
         text-align: center;
         vertical-align: middle;
         font-size: 2.5vh;
    }
     #timeHeader{
         font-size: 4vw;
    }
     #time{
         font-size: 4vw;
    }
     #dateAndTime{
         font-size:2vw;
    }
     #lunchText{
         font-size: 3vw;
    }
     #lunchTime{
         font-size:5vw;
    }
}
 @media screen and (orientation:portrait) {
     .homeContent{
         display: flex;
         flex-wrap: nowrap;
         flex-direction: column;
         /* height: 81vh; */
         justify-content: space-between;
         align-items: center;
         /* padding-top: 2vh;
         padding-bottom: 4vh; */
         /* font-size: 2.5vh; */
    }
     .homeContent >.mainElement{
         width: 100%;
         text-align: center;
         vertical-align: middle;
         align-items: center;
    }
}
