#currentDayText, #currentTimeText, #lunchText, #timeHeader, #timeSecondaryHeader{
  color: var(--header-text-color);
}

#timeHeader{
  display:block;
  padding-bottom: 2%;
}

 #time{
   display:block;
}

#lunchText{
  padding-bottom:2%;
}

#currentWeek{
  padding: 10px;
}

.hideDIV{
  display:none
}

.showDIV{
  display:block
}

canvas{
  z-index:-3;
  position:absolute;
  display:block;
  padding:0;
}

@media screen and (orientation:landscape) {
#timeHeader{
  font-size: 4vw;
}

 #time{
   font-size: 4.5vw;
}

.CenteredMiddle{
    display: table-cell;
    height:80vh;
    text-align: center;
    width: 50vw;
    vertical-align: middle;
}

.CenteredSide{
  display: table-cell;
  height:80vh;
  text-align: center;
  width: 25vw;
  vertical-align: middle;
}

#dateAndTime{
  font-size:2vw;
}

#lunchText{
  padding-bottom:2%;
  font-size: 3vw;
}

#lunchTime{
  font-size:5vw;
}


.column {
  float: left;
  padding: 10px;
  height:100%;
  width:50%;
  display: inline-block;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  font-size: 100%;
}

.row {
  height:89%;
  width:100%;
  vertical-align:middle;
  text-align:center;
  display: inline-block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.screenContent{
  height:90%;
  width:100%;
}

canvas{
  margin:0 25%;
}
}
@media screen and (orientation:portrait) {
  .CenteredMiddle{
      display: table-cell;
      padding-top: 12vh;
      text-align: center;
      width: 100vw;
      vertical-align: middle;
  }

  .CenteredSide{
    display: table-cell;
    text-align: center;
    padding-top: 5%;
    width: 100vw;
    vertical-align: middle;
  }

  #dateAndTime{
    font-size:2vh;
  }

  #lunch{
    position:fixed;
    bottom:15vh;
    padding-top: 15%;
  }

  #timeHeader{
    font-size: 4vh;
  }

   #time{
     font-size: 5vh;
  }

  #lunchText{
    font-size: 7vw;
  }

  #lunchTime{
    font-size:9vw;
  }

  canvas{
    margin:5% 0;
  }
}
