html{box-sizing:border-box;
  background-color:#004794;
  overflow:hidden;
  height:100%;
  position:relative;
}
*, *:before, *:after{
  box-sizing:inherit;
}
*{
  margin:0;
  padding:0;
  border:0;
  font-family: 'Muli', sans-serif;
}
body{
  margin:0;
  padding:0;
}

h3{
	padding-top: 10px;
}

.content{
  width:100%;
  height:100vh;
}

.topText, .lunchButtons{
  text-align:center;
}

.topText h1{
  color:#FFF;
}



@media screen and (orientation: landscape){
.lunchButton{
	background-color: #FFF;
	border: 15px solid white;
	margin-top: 20px;
	margin-left: 40vw;
	margin-right: 40vw;
}
}

@media screen and (orientation: portrait){
.lunchButton{
	background-color: #FFF;
	border: 15px solid white;
	margin-top: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
}
}
