.theme-switch-wrapper {
     display: flex;
     align-items: center;
     padding-top: 40px;
     padding-left: 20px;
}
 .theme-switch {
     display: inline-block;
     height: 34px;
     position: relative;
     width: 70px;
}
 .theme-switch input {
     display:none;
}
 .slider {
     background-color: #ccc;
     bottom: 0;
     cursor: pointer;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     transition: .4s;
}
 .slider:before {
     background-color: #fff;
     bottom: 4px;
     content: "";
     height: 26px;
     left: 4px;
     position: absolute;
     transition: .4s;
     width: 26px;
}
 input:checked + .slider {
     background-color: #1158A5;
}
 input:checked + .slider:before {
     transform: translateX(26px);
}
 .slider.round {
     border-radius: 34px;
     width: 60px;
}
 .slider.round:before {
     border-radius: 50%;
}
 h3 .darkTheme {
     padding-left: 20px;
     width: 100%;
}
 .lunchButton{
     background-color: #f2f2f2;
     color: #004794;
     text-align: center;
     text-decoration: none;
     display: inline-block;
}

@media screen and (orientation:landscape) {
  .lunchButton{
    padding: 20px 10px;
    margin-left: 0.5vw;
  }
}
 @media screen and (orientation:portrait) {
   .lunchButton{
     padding: 20px 5px;
     margin-left: 0.5vw;
   }
}
 .lunchButtons{
     padding-left: 20px;
     padding-top: 30px;
}
 .selectedLunch {
     background-color: #9499a1;
     color: #fff;
}


/* Style The Dropdown Button */
.dropbtn {
background-color: #004794;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #cdcfd4}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
background-color: var(--select-color);
}
